* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    word-spacing: 3px;
    letter-spacing: 2px;
}

body {
    background: linear-gradient(45deg, hsl(330, 90%, 90%), hsl(150, 90%, 90%));
}

.main_block {
    width: 100%;
    margin: 3.125rem auto 0 auto;
    text-align: center;
}

.header {
    text-align: center;
    line-height: 20px;
    background: linear-gradient(45deg, cyan, red);
    padding: 10px;
    opacity: .8;
}

.coloumn {
    margin: 20px;
    text-align: left;
    margin: 20px;
}

.wide {
    width: 100%;
    padding: 10px;
    margin: 5px;
}

form {
    background-color: hsl(180, 90%, 90%);
    opacity: 1;
    padding: 20px;
    text-align: center;
    width: 900px;
    display: inline-block;
}

#options {
    display: flex;
    margin: 20px 0px 0px 40px;
}

textarea {
    width: 100%;
    height: 200px;
}

.buttons {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    letter-spacing: 3px;
}

#submit {
    background-color: green;
}

#reset {
    background-color: red;
}

button {
    width: 100%;
    height: 50px;
    opacity: .8;
    font-size: large;
    letter-spacing: 5px;
}

button:hover {
    opacity: 1;
}